
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --wind-padding: 0 0.2em;
  --fweight-light: 300;
  --fweight-normal: 400;
  --fweight-semi: 500;
  --fweight-bold: 700;
  --fsize-h1: 1.5rem;
  --fsize-h2: 2.25rem;
  --fsize-body: 1rem;
  --fsize-xl: 3.5rem;
  --color-light: #fff;
  --color-grey: #a1a1a1;
  --color-dark: #525252;
  --color-accent: #da5757;
  --color-accent-dark: #632c2c;
}

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.4;
  background-image: url(src/img/pia19808-main_tight_crop-monday-b.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: var(--color-light);
}

a {
  color: var(--color-accent);
}

a:hover {
  color: var(--color-accent-dark);
}

h1, h2, h3 {
  line-height: 1;
}

.main-title {
  font-size: var(--fsize-h1);
  font-weight: var(--fweight-light);
  text-transform: uppercase;
  color: var(--color-accent);
  grid-column: 1 / -1;
}

.section-title {
  font-size: var(--fsize-h2);
  font-weight: var(--fweight-bold);
  margin: 0;
}

.section-title--date {
  font-size: var(--fsize-xl);
}

.date-day {
  font-size: var(--fsize-h2);
  color: var(--color-grey);
  margin: 0;
  font-weight: var(--fweight-light);
}

.reading {
  font-size: var(--fsize-h1);
  color: var(--color-grey);
  margin: 0;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.current-weather {
  background: rgba(0, 0, 0, 0.7);
  padding: 2.5em;
  max-width: 800px;
  margin: 4em auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.date {
  grid-column: 1 / 2;
}
.temp {
  grid-column: 2 / 3;
  --border: solid .3em var(--color-accent-dark);
  border-left: var(--border);
  border-right: var(--border);
  padding: 0 2em;
}
.wind {
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
}

.wind .section-title {
  grid-column: 2 / 3;
  padding: var(--wind-padding);
}

.wind .reading {
  grid-column: 2 / 3;
  padding: var(--wind-padding);
}

.wind-direction {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: grid;
  place-items: center;
  grid-row: 1 / span 2;
}

.wind-arrow {
  --direction: 0deg;
  --size: 1rem;
  height: calc(var(--size) * 3);
  width: var(--size);
  background-color: var(--color-accent-dark);
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  transform: translateY(-50%) rotate(var(--direction));
  transform-origin: bottom center;
  transition: transform 500ms ease;
}

.info {
  grid-column: 1 / 3;
}

.unit {
  grid-column: 3 / 4;
  place-self: end;
  color: var(--color-light);
  display: flex;
  gap: 0.4em;
  opacity: 0.7;
  transition: opacity 250ms linear;
}

.unit:hover {
  opacity: 1;
}

.unit label {
  cursor: pointer;
}

.unit input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.input-toggle {
  cursor: pointer;
  width: 4em;
  border: 2px solid var(--color-light);
  background: transparent;
  padding: 0;
  border-radius: 100vmax;
}


.input-toggle::after {
  content: '';
  display: block;
  background-color: var(--color-light);
  border-radius: 50%;
  height: 1rem;
  margin: 3px;
  margin-left: auto;
  width: 1rem;
}

.unit :checked ~ .input-toggle::after {
  margin-left: 3px;
}