
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --wind-padding: 0 0.2em;
  --fweight-light: 300;
  --fweight-normal: 400;
  --fweight-semi: 500;
  --fweight-bold: 700;
  --fsize-h1: 1.5rem;
  --fsize-h2: 2.25rem;
  --fsize-body: 1rem;
  --fsize-xl: 3.5rem;
  --color-light: #fff;
  --color-grey: #a1a1a1;
  --color-dark: #525252;
  --color-accent: #da5757;
  --color-accent-dark: #632c2c;
}

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.4;
  background-image: url(src/img/pia19808-main_tight_crop-monday-b.jpg);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  color: var(--color-light);
}

a {
  color: var(--color-accent);
}

a:hover {
  color: var(--color-accent-dark);
}

h1, h2, h3 {
  line-height: 1;
}

.main-title {
  font-size: var(--fsize-h1);
  font-weight: var(--fweight-light);
  text-transform: uppercase;
  color: var(--color-accent);
  grid-column: 1 / -1;
}

.section-title {
  font-size: var(--fsize-h2);
  font-weight: var(--fweight-bold);
  margin: 0;
}

.section-title--date {
  font-size: var(--fsize-xl);
}

.date-day {
  font-size: var(--fsize-h2);
  color: var(--color-grey);
  margin: 0;
  font-weight: var(--fweight-light);
}

.reading {
  font-size: var(--fsize-h1);
  color: var(--color-grey);
  margin: 0;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.current-weather {
  background: rgba(0, 0, 0, 0.7);
  padding: 2.5em;
  max-width: 800px;
  margin: 4em auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.date {
  grid-column: 1 / 2;
}
.temp {
  grid-column: 2 / 3;
  --border: solid .3em var(--color-accent-dark);
  border-left: var(--border);
  border-right: var(--border);
  padding: 0 2em;
}
.wind {
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
}

.wind .section-title {
  grid-column: 2 / 3;
  padding: var(--wind-padding);
}

.wind .reading {
  grid-column: 2 / 3;
  padding: var(--wind-padding);
}

.wind-direction {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: grid;
  place-items: center;
  grid-row: 1 / span 2;
}

.wind-arrow {
  --direction: 0deg;
  --size: 1rem;
  height: calc(var(--size) * 3);
  width: var(--size);
  background-color: var(--color-accent-dark);
  clip-path: polygon(50% 0, 0% 100%, 100% 100%);
  transform: translateY(-50%) rotate(var(--direction));
  transform-origin: bottom center;
  transition: transform 500ms ease;
}

.info {
  grid-column: 1 / 3;
}

.unit {
  grid-column: 3 / 4;
  place-self: end;
  color: var(--color-light);
  display: flex;
  gap: 0.4em;
  opacity: 0.7;
  transition: opacity 250ms linear;
}

.unit:hover {
  opacity: 1;
}

.unit label {
  cursor: pointer;
}

.unit input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.input-toggle {
  cursor: pointer;
  width: 4em;
  border: 2px solid var(--color-light);
  background: transparent;
  padding: 0;
  border-radius: 100vmax;
}


.input-toggle::after {
  content: '';
  display: block;
  background-color: var(--color-light);
  border-radius: 50%;
  height: 1rem;
  margin: 3px;
  margin-left: auto;
  width: 1rem;
}

.unit :checked ~ .input-toggle::after {
  margin-left: 3px;
}

.previous-weather {
  display: none;
  background-color: var(--color-light);
  color: var(--color-dark);
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(60%);
  transition: transform 300ms ease;
  padding: 2rem;
}

.show-prev-weather {
  position: absolute;
  background: var(--color-light);
  color: var(--color-grey);
  left: 50%;
  width: 10rem;
  transform: translate(-50%, calc(-99% - 2rem));
  text-align: center;
  font-size: var(--fsize-h1);
  line-height: 1.3;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  cursor: pointer;
  border: 0;
}

.show-prev-weather span {
  display: block;
  transform: rotate(0);
  transition: transform 300ms ease;
}

.show-prev-weather:hover {
  color: var(--color-dark);
}

.show-prev-weather:focus {
  color: var(--color-dark);
}

.previous-days {
  display: flex;
  justify-content: space-between;
}

.previous-day {
  opacity: 0;
}

.previous-day > * {
  margin: 0;
}

.previous-day-date {
  font-size: .9rem;
  color: var(--color-grey);
}

.previous-day-more-info {
   border: 0;
   border-radius: 100vmax;
   background-color: var(--color-dark);
   color: var(--color-light);
   text-transform: uppercase;
   padding: .5em 1em;
   cursor: pointer;
   margin-top: 1em;
}

.previous-day-more-info:hover, .previous-day-more-info:focus {
  background-color: var(--color-grey);
}

.previous-weather-title {
  text-align: center;
}

.show-weather.previous-weather {
  transform: translateY(0);
}

.show-weather.previous-weather .show-prev-weather span {
  display: block;
  transform: rotate(180deg)
  translateY(-3px);
}

.show-weather.previous-weather .previous-day {
  animation: slideUp 800ms forwards;
}

.show-weather.previous-weather .previous-weather-title {
  text-align: left;
}

.show-weather.previous-weather .previous-weather-title {
  animation: slideUp 1000ms forwards;
}


.show-weather.previous-weather .previous-day:nth-child(1) {
  animation-delay: 100ms;
}

.show-weather.previous-weather .previous-day:nth-child(2) {
  animation-delay: 150ms;
}

.show-weather.previous-weather .previous-day:nth-child(3) {
  animation-delay: 200ms;
}

.show-weather.previous-weather .previous-day:nth-child(4) {
  animation-delay: 250ms;
}

.show-weather.previous-weather .previous-day:nth-child(5) {
  animation-delay: 300ms;
}

.show-weather.previous-weather .previous-day:nth-child(6) {
  animation-delay: 350ms;
}

.show-weather.previous-weather .previous-day:nth-child(7) {
  animation-delay: 400ms;
}


@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 900px) {
  body {
    height: 100vh;
    overflow: hidden;
  }
}